* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.greytext {
    color: #878787;
}

#wrapper {
    display: flex;
    height: calc(100vh - 85px);
    width: 100%;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: black;
    flex-shrink: 0;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar .logo svg {
    width: 130px;
    margin-bottom: 23px;
}



.logo-small {
    display: none;
}

.sidebar-up {
    height: 100%;
}

.menuflex {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-direction: row;
}

.sidebar .menu ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}


.menulinktext {
    color: currentColor;
}

.sidebar .menu a {
    color: #878787;
}

.sidebar .menu a:hover {
    color: #FFFFFF;
}

.menulink:hover path, .menulink:hover {
    fill: white;
}

.sidebar .active {
    color: #FFFFFF !important;
}

.menu svg {
    width: 25px;
}

.sidebar .menu ul {
    margin-bottom: 28px;
}

/* PLAYLIST */
.playlist {
    height: 60%;
}

.sidebar .playlist-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 11px;
}

.sidebar .playlist a {
    font-weight: bold;
}

.sidebar .playlist a, i {
    color: #878787;
}

.sidebar .playlist i {
    font-size: 40px;
}

.addplaylist:hover i, .addplaylist:hover a {
    color: white;
}

.addplaylist {}

.addplaylistbutton {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.pl-list {
    overflow-y: auto;
    flex-grow: 1;
    height: 80%;
}

.pl-list li {
    list-style-type: none;
    margin-bottom: 18px;
}

.pl-list a {
    font-size: 13px;
    font-weight: bold;
}

.pl-list a:hover {
    color: white !important;
}

.pl-list {}

/* SIDEBAR FOOTER */
.sidebar-down {}

.sidebar-down a {
    color: #878787;
    font-size: 13px;
    font-weight: bold;
}

.sidebar-down:hover i, .sidebar-down:hover a {
    color: white;
}

.sidebar-down i {
    margin-right: 5px;
}

.sidebar-down .installapp {
    border-bottom: 1px solid #878787;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.downloadapp {
    color: #878787;
}

.sidebar-down .utente {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.sidebar-down svg {
    width: 20px;
    background-color: #878787;
    border-radius: 100%;
}

/* MAIN SECTION */
.main-section {
    /* width: calc(100vw - 220px); */
    flex-grow: 1;
    height: calc(100vh - 85px);
    padding-top: 85px;
    width: calc(100vw - 220px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: #141922;
}

.main-content .topmenu {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    column-gap: 23px;
    flex-wrap: wrap;
    row-gap: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-content {

    background-color: #141922;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content .topmenu li:first-child::after {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    margin: 3px auto;
    background-color: greenyellow;
}

.main-content .topmenu a {
    color: #878787;
}

.main-content .topmenu a:hover {
    color: #FFFFFF;
}

/* MAIN PLAYLIST */


.section {
    padding: 20px;
}

.section__header {
    padding-bottom: 20px;
}



.section__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.7em;
}

.section__description {
    color: #878787;
    font-size: 12px;
    font-weight: bold;
}

/* ALBUM */

.cover-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.cover-list__item {
    width: calc(95% / 6);
}

.card__body {
    padding: 15px 0 10px;
    text-align: center;
    font-weight: bold;
}

.card__title {
    font-size: 13px;
    line-height: 1.2em;
    margin-bottom: 4px;
}

.card__subtitle {
    font-size: 12px;
    color: #878787;
}

.card__header {
    position: relative;
}

.card__header i {
    font-size: min(70px, 4vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    z-index: 55;
}

.card__header img {
    display: block;
    width: 100%;
}

.card__header::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover-list__item:hover i {
    display: block;
}

.cover-list__item:hover .card__header::after {
    opacity: 0.4;

}

.card__header.card__header--circle {
    border-radius: 100%;
    overflow: hidden;
}


/* BANNER UPGRADE */
.upgrade-banner {
    min-height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    background-color: rgba(08, 11, 18, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 55;
    overflow: hidden;
}

.upgrade-banner .upgradebutton {
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 215px;
    margin: .75rem;
}

.upgradebutton:hover {
    height: 41px;
    width: 228px;
    font-size: 13px;
}

/* MAIN CONTENT */
.debug {
    border: 2px dashed green;
}

/* TOOLBAR */
#toolbar {
    height: 85px;
    width: 100vw;

    background-color: #161616;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toolbar .preview {
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#toolbar .preview img {
    width: 43px;
    height: 43px;
    display: block;
    margin-left: 15px;
}

#toolbar .song-details {
    font-size: 13px;
    font-weight: bold;
    margin-left: -15px;
}

#toolbar .author {
    display: block;
    font-size: 13px;
}

#toolbar .title {
    font-size: 10px;
}

#toolbar .title a {
    color: #878787;
}

#toolbar .title a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#toolbar .add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#toolbar .add i {
    color: #878787;
}

#toolbar .add i:hover {
    color: #FFFFFF;
}

#toolbar .add i:first-child {
    margin-right: 10px;
}

/* TOOLBAR-CENTRO */
/* PULSANTI */
#toolbar .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(122px + 30%)
}

#toolbar .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 22px;
    margin-bottom: 15px;
}

#toolbar .controls i {
    color: white;
    font-size: 14px;
}

#play {
    margin: 0 15px;
    width: 35px;
    height: 35px;
    font-size: 30px !important;
    text-align: center;
    line-height: 35px;
}

#play:hover {
    font-size: 35px !important;
}

/* TIMELINE */
#toolbar .timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 23px;
}

.music {
    width: 100%;
}

#toolbar .time {
    font-size: 10px;
}

#toolbar .bar {
    flex-grow: 1;
    height: 3px;
    background-color: rgb(190, 190, 190, 0.3);
}

#toolbar .current-time {
    background-color: #c1c1c1;
    width: 28%;
    height: 3px;
    position: relative;
    border-radius: 3px;
}

#toolbar .cursor {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -40%);
    z-index: 1;
    visibility: hidden;
}

#toolbar .bar:hover .current-time {
    background-color: greenyellow;
}

#toolbar .bar:hover .cursor {
    visibility: visible;
}

/* VOLUME SETTING */
#toolbar .setting {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
    min-width: 150px;
}

#toolbar .volume {
    width: 118px;
}

#toolbar .setting i:hover {
    color: white;
    cursor: default;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #090B13;
 
    
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #161616;
  }
  

  ::-webkit-scrollbar-track {
    background-color: #141922; 
  }
  